<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salud y Seguridad Ocupacional - ACSSO</title>
    <link rel="icon" href="images/logo.png" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style-blog.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <!--=======Header=======-->
    <header>
      <div class="nav-bar">
        <img
          class="logo"
          alt="logo"
          src="/images/logo.png"
          width="128"
          height="128"
        />

        <div class="nav-menu-btn"></div>
      </div>
    </header>
    <!--=======About section=======-->
    <section class="about section" id="about">
      <div class="container flex-center">
        <h1 class="section-title-01">
         {{title}}
        </h1>
        <h2 class="section-title-02">
           {{title}}
        </h2>
        <div class="content flex-center">
          <!-- <div class="about-img">
            <img src="images/identidad.png" alt="" />
          </div> -->
          <div class="about-info">
            <div class="description">

              <h4>
                    {{content|safe}}
              </h4>

             



          
            </div>
          </div>
        </div>

        
       
    </section>

    <!--=======Footer=======-->
    <footer>
      <div class="footer-container">
        <div class="about group">
          <h2>ACSSO</h2>
          <p>
            Asesoría y Consultoría en <br />
            Salud y Seguridad Ocupacional
          </p>
          <a href="#about">Conócenos</a>
        </div>
        <div class="hr"></div>

        <div class="follow group">
          <h3>Síguenos</h3>
          <ul>
            <li>
              <a href="https://instagram.com/acsso.gt"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/acssogt/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a
                href="https://wa.me/50248856811?text=Hola,%20estoy%20interasado%20en%20contratar%20sus%20servicios"
                ><i class="fab fa-whatsapp"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright group">
        <p>© 2023 by Digisol GT for ACSSO. All rights reserved.</p>
      </div>
    </footer>
    <!--=======External scripts=======-->
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>      
  </body>
</html>
